<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Label</key>
	<string>com.jeremyagost.TurntableStream.jackd</string>
	<key>RunAtLoad</key>
	<true/>
	<key>KeepAlive</key>
	<true/>
	<key>ProgramArguments</key>
	<array>
		<string>/usr/local/bin/jackd</string>
		<string>-d</string>
		<string>coreaudio</string>
	</array>
	<key>StandardOutPath</key>
	<string>/tmp/com.jeremyagost.TurntableStream.jackd.stdout</string>
	<key>StandardErrorPath</key>
	<string>/tmp/com.jeremyagost.TurntableStream.jackd.stderr</string>
</dict>
</plist>
